html, body {
	background-color: #fff;
	color: #FF0000;
	font-family: 'Coda', cursive;
	font-family: 'Fajalla One', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

#logo {
	text-align: center;
	margin: 0;
}

/* white header with red lettering */
header {
	background: #fff;
	border-color: #990000;
}

h1, h2 {
	
}